.LogAndSign {
    display: flex;
    justify-content: center;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

.Signup {
    margin-right: 50px;
}

.Signup, .Login {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 100px 50px;
    background: #8cb6b2;
    color: white;
    width: 250px;
    height: 200px;
    justify-content: center;
    border: 1px solid #779c98;
    border-radius: 15px;
    font-size: 17px;
}

.signUpIcon {
    width: 75px;
    align-self: center;
}

.Signup > label, .Login > label {
    font-size: 15px;
    margin-bottom: 10px;
}

.Signup > input, .Login > input {
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 15px;
    background: #E8F0FE;
    color: #4c4c4c;
    padding: 5px;
    margin-bottom: 15px;
}

.Signup > button, .Login > button {
    cursor: pointer;
    background: #06675e;
    color: white;
    padding: 5px 0px;
    border: 1px solid grey;
    border-radius: 25px;
    font-weight: bold;
    margin: auto;
    margin-top: 15px;
    width: 125px;
    transition-property: scale(1.05);
    transition-duration: 0.5s;
}

.Signup > button {
    position: relative;
    top: 10px;
}

.Login > button {
    position: relative;
    top: 40px;
}

.Signup > button:hover, .Login > button:hover {
    transform: scale(1.05);
}

.Login > div {
    position: relative;
    top: -35px;
}

.Signup > div > h2, .Login > div > h2 {
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.Signup > hr, .Login > hr {
    width: 100%;
}




