.PlaceModal {
    /* background: #f8f8ff;
    border: 1px solid lightgrey; */
    border-radius: 15px;
    width: 40%;
    position: absolute;
    top: 60px;
    left: 540px;
}

.CloseModalBtn {
    border: none;
    background: none;
    cursor: pointer;
    position: fixed;
    top: 135px;
    right: 15px;
}

.Cross {
    width: 35px;
}

.Content {    
    padding: 0 15px;
    background: #f8f8ff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px solid #ccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.MainTitle {
    display: flex;
    place-items: center;
}

.MainTitle > p:first-child {
    font-size: 1.25em;
    font-weight: bold;
}

.Titre {
    font-size: 1.17em;
    font-weight: bold;
}

.Rating {
    padding-left: 15px;
    font-weight: 500;
    font-size: 15px;
}

.IsOpen {
    margin-left: auto;
    font-size: 12px;
}

.Summary {
    margin: 0;
}

.CommentsAndAddress {
    display: flex;
    padding-bottom: 5px;
}

.CommentsAndAddress > div {
    margin-top: 15px;
    padding-bottom: 15px;
    width: 50%;
}

.CommentsAndAddress > div:first-child {
    border-right: 1px solid #bdb8b8;
    padding-right: 15px;
}

.CommentsAndAddress > div:nth-child(2) {
    padding-left: 15px;
}

.UserReviewImg {
    width: 60px;
}

.TextReview {
    font-size: 12px;
    padding-left: 15px;
    text-align: justify;
}

.OpenHours {
    line-height: 10px;
}

.OpenHours > p {
    font-size: 0.9em;
}

.EditorialSummary {
    font-size: 12px;
    padding-right: 15px;
    text-align: justify;
}