.InformationsCity {
    padding: 30px;
    color: #393d44;
}

.InformationsCity > h1 {
    margin: 0;
}

.Flag {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

.Country {
    display: flex;
    align-items: center;
}

.Country > h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.PlacesList {
    display: flex;
}

.Place {
    display: flex;
    background: ghostwhite;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin: 30px 15px 30px 0px;
    width: 600px;
    height: fit-content;
}

.Place > img {
    width: 202px;
    height: 270px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.InformationsPlace {
    padding-left: 15px;
}