form {
    color: white;
    background: #4A87C0; 
}

select {
    width: 40%;
    height: 30px;
    border: 1px solid #999;
    color: #4A87C0;
    background-color: #ffffffa8;
    border-radius: 5px;
}

.TypesPlaces {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TypePlace {
    border: 1px solid;
    padding: 15px 30px;
}

.TypePlace > img { 
    width: 75px;
}

.TypePlace > p {
    margin: 0;
    text-align: center;
}

.TypePlace:hover {
    transform: scale(1.1); 
    transition-duration: 500ms;
    background: #ffffffa8;
    cursor: pointer;
}